body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 570px 80px 500px 633px 330px 333px 630px;
    grid-template-areas: 
    "nav nav nav"
    ". header ."
    ". bar ."
    ". fly ."
    ". clients ."
    ". contact ."
    ". guy ."
    ". footer .";
}

nav {
    grid-area: nav;
    background-color: seashell;
}

.header {
    grid-area: header; 
    width: 100%;
    background-color: red;
    display: grid;
    padding: 18px;
}

.title {
    font-size: 31px;
    justify-self: center;
    align-self: center;
    position: relative;
    top: -115px;
}


.subtitle {
    font-size: 20px;
    justify-self: center;
    align-self: center;
    position: relative;
    top: 100px;
}

.bar {
    background-color: blue;
    grid-area: bar;
}

.fly {
    grid-area: fly;
    background-color: yellow;
}

.client {
    grid-area: clients;
    background-color: brown;
}

.contact {
    grid-area: contact;
    background-color: purple;
}

.guy {
    grid-area: guy;
    background-color: salmon;
}

footer {
    grid-area: footer;
    background-color: green;
}